p {
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
}

.todo {
  position: relative;
  display: table;
  width: 98%;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
  top: 1vw;
  right: -1vw;
  z-index: 2;
  margin-bottom: 1vw;
}

select {
  background-image: linear-gradient(to top, #0020b1, #ffffff 33%);
  border: 2px solid rgb(151, 151, 151);
  border-radius: 10px;
  cursor: pointer;
  z-index: 2;
  position: relative;
  text-align: center;
  font-size: 16px;
  top: -1vw;
}

select:hover {
  appearance: auto;
}

select:focus {
  background-color: rgba(162, 162, 255, 0.262);
}

input[type="date"] {
  background-image: linear-gradient(to top, #0020b1, #ffffff 33%);
  border: 2px solid rgb(151, 151, 151);
  font-size: 16px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  display: -webkit-inline-flex;
  font-family: monospace;
  overflow: hidden;
  padding: 0;
  -webkit-padding-start: 1px;
  position: relative;
  top: -1vw;
}

input::-webkit-datetime-edit {
  -webkit-flex: 1;
  display: inline-block;
  min-width: 0;
  overflow: hidden;
}

input::-webkit-datetime-edit-fields-wrapper {
  display: inline-block;
  padding: 1px 0;
  white-space: pre;
}

.tablita{
	margin: 1vw;
	border: 1px solid greenyellow;
}

